<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina de impressão</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <style>
        .report {
            font-family: 'Lato', sans-serif;
            padding: 0px 30px;
        }

        .title {
            color: black;
            font-family: 'Lato', sans-serif;
            text-align: center;
        }

        .card {
            margin-bottom: 10px;
            box-shadow: none;
        }

        .card h4 {
            margin-top: -10px
        }

        .card p {
            font-size: 15px;
        }

        table, th, tr, td {
            border: 0px solid #cbd5da;
            border-collapse: collapse;  
        }

        table { 
            width: 100%; 
            margin-top: 20px;
        }
        
        table th {
            font-size: 20px;
            text-align: center;
            width: 50%;     
        }
    </style>

    <body>
        <div class="report">
            <table>
                <tr>
                    <td colspan="2">
                        <h5 class="title">RESUMO GERAL</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Montante inicial</p>
                                <h4 style="color: #3f51b5">R$ <%= income.initialAmount.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Saldo atual</p>
                                <h4 style="color: #3f51b5">R$ <%= income.currentBalance.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Total de receitas</p>
                                <h4 style="color: #0099CC">R$ <%= income.incomeRecipes.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Total de despesas</p>
                                <h4 style="color: #CC0000;">R$ <%= income.incomeExpenses.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="title">RESUMO DE RECEITAS</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Vendas</p>
                                <h4 style="color: #4285F4">R$ <%= income.countSales.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Ofertas</p>
                                <h4 style="color: #4285F4">R$ <%= income.countOffers.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Contribuíntes</p>
                                <h4 style="color: #4285F4">R$ <%= income.countContributors.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <p>Outros recebimentos</p>
                                <h4 style="color: #4285F4;">R$ <%= income.countOthers.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <% annualReport.forEach(function(report, index){ %>
            <div class="report">                              
                <table style="text-align: center;"> 
                    <tr>
                        <td colspan="2">
                            <h5 class="title">Transações de <%= months[index] %> de <%= year %></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card" style="background-color:#f5f5f5">
                                <div class="card-body">
                                    <p>Vendas</p>
                                    <h4>R$ <%= report.accountants.countSales.toFixed(2) %></h4>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="background-color:#f5f5f5">
                                <div class="card-body">
                                    <p>Ofertas</p>
                                    <h4>R$ <%= report.accountants.countOffers.toFixed(2) %></h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card" style="background-color: #f5f5f5">
                                <div class="card-body">
                                    <p>Contribuíntes</p>
                                    <h4>R$ <%= report.accountants.countContributors.toFixed(2) %></h4>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="background-color:#f5f5f5">
                                <div class="card-body">
                                    <p>Outros recebimentos</p>
                                    <h4>R$ <%= report.accountants.countOthers.toFixed(2) %></h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="color: #fff; background-color: #0099CC; font-size: 18px;">RECEITAS</th>
                        <th style="color: #fff; background-color: #CC0000; font-size: 18px;"> DESPESAS</th>
                    </tr>
                    <tr>
                        <td>
                            <% report.recipes.forEach(function(recipe){ %>
                                <div class="card">
                                    <div class="card-body">
                                        <p><%= recipe.description %></p>
                                        <h4 style="color: #33b5e5">R$ <%= recipe.value.toFixed(2) %></h4>
                                        <p><%= dateFormat(recipe.registeredIn) %></p>
                                        <p><%= recipe.details %></p>
                                    </div>
                                </div>
                            <% }); %>  
                        </td>
                        <td>
                            <% report.expenses.forEach(function(expense){ %>
                                <div class="card">
                                    <div class="card-body">
                                        <p><%= expense.description %></p>
                                        <h4 style="color: #ff4444;">R$ <%= expense.value.toFixed(2) %></h4>
                                        <p><%= dateFormat(expense.registeredIn) %></p>
                                        <p><%= expense.details %></p>
                                    </div>
                                </div>
                            <% }); %> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card-body" style="background-color: #eceff1;">
                                <p>Receitas mensais</p>
                                <h4 style="margin-top: -12px;">R$ <%= report.incomeRecipesMonthly.toFixed(2) %></h4>
                            </div>
                        </td>
                        <td>
                            <div class="card-body" style="background-color: #eceff1;">
                                <p>Despesas mensais</p>
                                <h4 style="margin-top: -12px;">R$ <%= report.incomeExpensesMonthly.toFixed(2) %></h4>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <% if (report.balanceMonthly > 0) { %>
                            <td colspan="2" style="color: #fff; background-color: #33b5e5;">
                                <div class="card-body">
                                    <p>Faturamento mensal</p>
                                    <h4 style="margin-top: -12px;">R$ <%= report.balanceMonthly.toFixed(2) %></h4>
                                </div>
                            </td>
                        <% } %>
                        <% if (report.balanceMonthly == 0) { %>
                            <td colspan="2" style="color: #fff; background-color: #2BBBAD;">
                                <div class="card-body">
                                    <p>Faturamento mensal</p>
                                    <h4 style="margin-top: -12px;">R$ <%= report.balanceMonthly.toFixed(2) %></h4>
                                </div>
                            </td>
                        <% } %>
                        <% if (report.balanceMonthly < 0) { %>
                            <td colspan="2" style="color: #fff; background-color: #ff4444;">
                                <div class="card-body">
                                    <p>Faturamento mensal</p>
                                    <h4 style="margin-top: -12px;">R$ <%= report.balanceMonthly.toFixed(2) %></h4>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                </table>
            </div> 
        <% }); %>   
    </body>
</html>