<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina de impressão</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <style>
        .report {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 0px 30px;
        }

        .card {
            margin-bottom: 10px;
            box-shadow: none;
        }

        .card h4 {
            margin-top: -10px
        }

        .card p, h4 {
            color: #fff;
        }

        .card p {
            font-size: 15px;
        }

        table, th, tr, td {
            border: 0px solid #cbd5da;
            border-collapse: collapse;  
        }

        table { 
            width: 100%; 
            margin-top: 20px;
        }
        
        table th {
            text-align: center;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width: 50%;
            color: #fff;      
        }

        .label {
            font-family: Century Gothic;   
        }

        .title { font-family: 'Kalinga' }

    </style>
    <body>  
        <div class="report">                          
            <table>
                <tr>
                    <td colspan="2">
                        <h5 class="text-center text-dark title">RESUMO GERAL DE FATURAMENTO</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card grey lighten-4 text-left">
                            <div class="card-body">
                                <p class="text-dark label">Montante inicial</p>
                                <h4 class="text-primary card-title">R$ <%= income.initialAmount.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card grey lighten-4 text-left">
                            <div class="card-body">
                                <p class="text-dark label">Saldo atual</p>
                                <h4 class="text-primary card-title">R$ <%= income.currentBalance.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card grey lighten-4 text-left">
                            <div class="card-body">
                                <p class="text-dark label">Total de receitas</p>
                                <h4 class="text-info card-title">R$ <%= income.incomeRecipes.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card grey lighten-4 text-left">
                            <div class="card-body">
                                <p class="text-dark label">Total de despesas</p>
                                <h4 class="text-danger card-title">R$ <%= income.incomeExpenses.toFixed(2) %></h4>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="text-center title">Transações de <%= month %> de <%= year %></h5>
                    </td>
                </tr>
                <tr>
                    <th class="info-color-dark label" style="font-family: Calibri;">RECEITAS</th>
                    <th class="danger-color label" style="font-family: Calibri;"> DESPESAS</th>
                </tr>
                <tr>
                    <td>
                        <% report.recipes.forEach(function(recipe){ %>
                            <div class="card">
                                <div class="card-body text-center">
                                    <p class="text-dark"><%= recipe.description %></p>
                                    <h4 class="card-title text-info">R$ <%= recipe.value.toFixed(2) %></h4>
                                    <p class="text-dark"><%= dateFormat(recipe.registeredIn) %></p>
                                    <p class="text-dark"><%= recipe.details %></p>
                                </div>
                            </div>
                        <% }); %>  
                    </td>
                    <td>
                        <% report.expenses.forEach(function(expense){ %>
                            <div class="card">
                                <div class="card-body text-center">
                                    <p class="text-dark"><%= expense.description %></p>
                                    <h4 class="card-title text-danger">R$ <%= expense.value.toFixed(2) %></h4>
                                    <p class="text-dark"><%= dateFormat(expense.registeredIn) %></p>
                                    <p class="text-dark"><%= expense.details %></p>
                                </div>
                            </div>
                        <% }); %> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card-body grey lighten-2 text-center">
                            <p class="text-dark">Receitas mensais</p>
                            <h4 class="card-title text-dark" style="margin-top: -12px;">R$ <%= report.incomeRecipesMonthly.toFixed(2) %></h4>
                        </div>
                    </td>
                    <td>
                        <div class="card-body grey lighten-2 text-center">
                            <p class="text-dark">Despesas mensais</p>
                            <h4 class="card-title text-dark" style="margin-top: -12px;">R$ <%= report.incomeExpensesMonthly.toFixed(2) %></h4>
                        </div>
                    </td>
                </tr>
                <tr>
                    <% if (report.balanceMonthly > 0) { %>
                        <td colspan="2">
                            <div class="card-body info-color-dark text-center">
                                <p class="text-light label">Faturamento mensal</p>
                                <h4 class="text-light" style="margin-top: -12px;">R$ <%= report.balanceMonthly.toFixed(2) %></h4>
                            </div>
                        </td>
                    <% } %>
                    <% if (report.balanceMonthly == 0) { %>
                        <td colspan="2">
                            <div class="card-body default-color text-center">
                                <p class="text-light label">Faturamento mensal</p>
                                <h4 class="text-light" style="margin-top: -12px;">R$ <%= report.balanceMonthly.toFixed(2) %></h4>
                            </div>
                        </td>
                    <% } %>
                    <% if (report.balanceMonthly < 0) { %>
                        <td colspan="2">
                            <div class="card-body danger-color text-center">
                                <p class="text-light label">Faturamento mensal</p>
                                <h4 class="text-light" style="margin-top: -12px;">R$ <%= report.balanceMonthly.toFixed(2) %></h4>
                            </div>
                        </td>
                    <% } %>
                </tr>
            </table>
        </div>   
    </body>
</html>